<!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top">
    -->

<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <!--<a class="navbar-brand" href="#">Logo</a>-->
        <a href="/">
            <img src="/images/logo.jpg" style="width: 80px; height: 80px;" class="logo">
        </a>

        
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation" style="align-items: center">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="form-inline my-2 my-lg-0">
              <!-- a href="/usuario/login" class="btn btn-outline-info my-2 my-sm-0" type="submit">Painel</a -->
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-md navbar-light descr-menu">
    <div >
        <div class="collapse navbar-collapse" id="navbarsExampleDefault" >
            <ul class="navbar-nav mr-auto">

                <li class="nav-item menu">
                    <a class="nav-link lead" href="/">Home</a>
                </li>

                <li class="nav-item menu">
                    <a class="nav-link lead" href="/imagem"> Sobre </a>
                </li>
                <li class="nav-item menu">
                    <a class="nav-link lead" href="/sobre"> Comunicado </a>
                </li>
                
                <li class="nav-item menu">
                    <a class="nav-link lead" href="#"> Parceiros</a>
                </li>

                <li class="nav-item menu">
                    <a class="nav-link lead" href="#"> Anuncios*</a>
                </li>

                <li class="nav-item menu">
                    <a class="nav-link lead" href="/contato"> Contato</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

