<div class="container gallery-container">


    <div class="jumbotron sobre">
        <div id="principal">

            <h2 style="font-family: Lora,Georgia,'Times New Roman',Times,serif"> Sobre</h2>
            <hr class="corLinha" style="height: 3px;" />
            <div class="container">
                <div class="row featurette">
                    <div class="col-md-6">
                        <h2 class="featurette-heading exp-home-titulo">{{sobre.titulo}} </h2>
                        <p class="lead">{{sobre.subtitulo}}</p>
                        <p><a href="{{sobre.urlbtn}}" class="btn btn-outline-danger">{{sobre.titulobtn}}</a></p>
                    </div>

                </div>
            </div>

        </div>
    </div>


</div>
</div>
<!--Rodape -->
{{> _rodape}}